<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pad.mapper.BankMapper">
    <!--根据银行id查询对应银行列表-->
    <select id="selectBankByBankId" resultType="java.lang.String">
        select bank_name from bank where bank_no=#{bankNo}
    </select>



</mapper>
