<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pad.mapper.CompanyInfoMapper">

    <!--逻辑删除用户-->
    <update id="deleteCompanyInfoByIds" parameterType="list">
        update `company_info`
        set is_deleted=0
        where c_no in
        <foreach collection="list" item="cNo" separator="," open="(" close=")">
            #{cNo}
        </foreach>
    </update>

    <!--企业用户基本信息认证状态通过-->
    <update id="statusSuccess" parameterType="String">
        update `company_info`
        set auth_status= 2
        where c_no = #{cNo}
    </update>

    <!--企业用户基本信息认证状态失败-->
    <update id="statusError" parameterType="String">
        update `company_info`
        set auth_status= -1
        where c_no = #{cNo}
    </update>
</mapper>
