<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pad.mapper.CompanyDetailMapper">
    <!--逻辑删除用户-->
    <update id="updateCompanyDetailByIds" parameterType="list">
        update `company_detail`
        set is_deleted=0
        where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
    <select id="selectByFK" resultType="com.pad.entity.CompanyDetail">
       select d.*,i.name,i.create_time,i.auth_status,
        p.address_name as provinceName,
        c.address_name as cityName,
        a.address_name as areaName
        from company_detail d
        left join company_info i  on d.c_no=i.c_no
        left join address p on p.address_areaId=d.province
        left join address c on c.address_areaId=d.city
        left join address a on a.address_areaId=d.area
        where i.c_no=#{cNo,jdbcType=VARCHAR}
        and d.is_deleted=1
    </select>

    <update id="deleteCompanyDetailBycNo" parameterType="string">
        update `company_detail`
        set is_deleted=0
        where c_no=#{cNo}
    </update>

</mapper>
