<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pad.mapper.MessageMapper">

    <!-- 根据留言id删除留言-->
    <update id="updateNo" parameterType="list" >
        update message
        set is_deleted = 0 where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 回复留言-->
    <update id="updateMe" parameterType="message" >
        update message
        set reply = #{reply},
            update_time= #{updateTime}
        where id =#{id}
    </update>
</mapper>
