<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pad.mapper.RoleMapper">
    <!--逻辑删除角色-->
    <update id="deleteRoleByIds">
        update `role`
        set is_deleted=0
        where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <!--查询角色对应权限id列表  只显示子菜单p.pid!=0-->
    <select id="selectMenuIdsByRoleId" resultType="java.lang.Integer">
        select p.id
        from role_permission rp
        left join role r on r.id=rp.role_id
        left join permission p on p.id=rp.permission_id
        where r.id=#{id} and p.pid!=0
        and p.`status`=1
    </select>
</mapper>
